<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sare" translate="label" sortOrder="300">
            <label>SARE extensions</label>
        </tab>
        <section id="sarehub" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SAREhub Integration</label>
            <tab>sare</tab>
            <resource>SARE_SAREhub::config_sarehub</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="info" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="1">
                    <frontend_model>SARE\SAREhub\Block\Adminhtml\System\Config\Info</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="basic_code" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Basic tracking code</label>
                    <comment><![CDATA[Do not change, unless you have to]]></comment>
                    <depends>
                        <field id="sarehub/general/enabled">1</field>
                    </depends>
                </field>
                <field id="domain" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Domain</label>
                    <comment><![CDATA[Should be consulted with SAREhub client service]]></comment>
                    <validate>required-entry validate-alphanum</validate>
                    <depends>
                        <field id="sarehub/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="tracking" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Tracking Options</label>
                <field id="events" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracked events</label>
                    <source_model>SARE\SAREhub\Model\Event</source_model>
                </field>
            </group>
        </section>
    </system>
</config>